# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Secrets
.env
token.json
credentials.json

# Git
.git/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/
.coverage
htmlcov/

# Python cache
.mypy_cache/
.ruff_cache/